*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}


.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.content {
  display: flex;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  width: 711px;
}

.search-form {
  display: flex;
  align-content: center;
  gap: 40px;
  width: 100%;
}

.search-form > * {
  flex: 1;
}

.search-form > :first-child {
  min-width: 225px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  margin-top: 5px;
  width: 100%;
}

.search-form__label:hover {
  cursor: pointer;
}

.search-form__textfield {
  width: 100%;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: inherit;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.search-form__textfield:focus {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFFFFF;
}


.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}
.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #FFFFFF;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  inline-size: 100%;
  block-size: 100%;
  background-color: #FFFFFF;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__details {
 display: flex;
 width: 399px;
 flex-direction: column;
 gap: 23px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}
.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  border: 1px solid #fff;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  height: 298px;
  overflow: hidden scroll;
}

.content__video-card {
  display: flex;
  width: 390px;
  height: 103px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  font-family: 'Oswald';
  overflow: hidden;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  display: block;
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: inherit;
  background-color: inherit;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

.search-form__submit-button {
    align-self: flex-end;
    flex: 0 0 auto;
    padding: 5px 73px;
}

.more-button {
  width: 100%;
  padding: 6px 0;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  outline: 1px solid #fff;
}

.button:focus {
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}